header h1 {
  background-color: steelblue;
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
  margin-bottom: 1em;
}

.drop-zone {
  width: 100%;
  min-height: 300px;
  border: 2px dashed steelblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-zone.dragging {
  background-color: #ddd;
  border: 2px dashed #f00;
}

button {
  color: #fff;
  background-color: steelblue;
  font-size: 1.25em;
  padding: 0.5em 2em;
  border: 1px solid transparent;
  cursor: pointer;
}

button:hover {
  box-shadow: 0.2em 0.5em 0.3em -0.3em #333;
  border: 1px solid #fff;
}

button:active {
  transform: scale(0.95);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

tr, td, th {
  border: 1px solid steelblue;
  text-align: center;
}

th {
  background-color: steelblue;
  color: #fff;
}

.no-coupons {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}